
.ProjectHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.ProjectHeader #Icon {
    display: none;
    font-size: 1.6rem;
    rotate: 180deg;
}
#AppContainer[data-activepage="Todos"] .ProjectHeader #Icon {display: block}
#AppContainer[data-showprojects="false"] .ProjectHeader #Icon {rotate: 0deg}

.ProjectContainer {
    gap: .75rem;
    padding: .5rem;
    padding-top: 0;
    overflow: scroll;
    max-height: 25vh;
}

#AppContainer[data-activepage="Todos"][data-showprojects="false"] .ProjectContainer{display: none;}
#AppContainer[data-activepage="Todos"][data-showprojects="false"] .Section:has(.ProjectContainer){
    min-height: initial;
    box-shadow: none;
}

.ProjectContainer:has(#Chip) {
    flex-flow: row wrap;
}