
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap'); */

@font-face {
  font-family: rounded;
  src: url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
}

@font-face {
  font-family: defaultFont;
  src: url("/public/font/QuattrocentoSans-Regular.ttf");
}
@font-face {
  font-family: defaultBold;
  src: url("/public/font/QuattrocentoSans-Bold.ttf");
}

* {
  margin: 0rem;
  padding: 0rem;
  font-size: 3.5vw;
  color: var(--text_color);
  box-sizing: border-box;
  border-radius: .5rem;
  font-family: Dosis;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  --base_shadow: 0px .1rem .55rem .1rem var(--base-dark);

  --accent-gradient: linear-gradient(45deg, var(--accent-dark) 0%, var(--accent-light) 80%);

  --color_variation: 20%;

  --text_color_darker: rgb(125,125,125);
  --text_color-light: rgb(200,200,200);
}

* {

  --accent-light-l: calc(var(--accent-l) + 5%);
  --accent-lightest-l: calc(var(--accent-l) + var(--color_variation));
  --accent-dark-l: calc(var(--accent-l) - var(--color_variation));

  --accent: hsl( var(--accent-h),
                  var(--accent-s),
                  var(--accent-l));

  --accent-dark: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-dark-l));

  --accent-light: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-light-l));

  --accent-lightest: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-lightest-l));

  --base-light-l: calc(var(--base-l) + 5%);
  --base-dark-l: calc(var(--base-l) - 5%);
  --base-darker-l: calc(var(--base-l) - 30%);
  --base-darkest-l: calc(var(--base-l) - 55%);

  --base: hsl(0, 0%, var(--base-l));
  --base-light: hsl(0, 0%, var(--base-light-l));
  --base-dark: hsl(0, 0%, var(--base-dark-l));
  --base-darker: hsl(0, 0%, var(--base-darker-l));
  --base-darkest: hsl(0, 0%, var(--base-darkest-l));

}

body {
  border-radius: 0;
  background-color: var(--text_color);
}

#root {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  border-radius: 0;
  background-color: var(--base);
}

#AppContainer {
  min-height: 100vh;
  border-radius: 0;
  padding: 0;
  padding-bottom: 60px;
  background-color: var(--base);
}

html, #root {
  padding: 0;
  margin: 0;
}

p, button, textarea, input, select, option, a {
  font-size: 1.15rem;
  resize: none;
}

div {
  display: flex;
  flex-flow: column wrap;
}

h1 {font-size: 3.5rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1.1rem; font-weight: 100;}

label {
  font-size: 1.5rem;
  color: var(--text_color_darker);
}

a{
  text-decoration: none;
}

button {
  background-color: var(--accent);
  color: var(--text_color-light);
  text-transform: capitalize;
  width: 10rem;
  height: 3.5rem;
  border: 0;
  box-shadow: var(--base_shadow);
  margin: .2rem;
}
button:disabled, button[disabled] {
  background-color: var(--accent-dark);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

button.small {
  width: 6rem;
  height: 3rem;
}
button.large {
  width: 13rem;
  height: 4.5rem;
}

.button_secondary {
  background-color: var(--base-light);
  border: 1px solid var(--accent);
  color: var(--accent);
  font-family: defaultBold;
}
button:disabled.button_secondary, button[disabled].button_secondary {
  text-decoration: line-through;
  background-color: var(--base-dark);
}

input, textarea {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: var(--base-light);
  padding: 0 .5rem;
  border-radius: 10px;
  margin: .2rem 0;
  border-bottom: 1px solid transparent;
}

textarea {
  max-height: 15vh;
  padding: .5rem;
}

textarea:focus, input:focus, option:focus {
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid var(--accent);
  border-radius: 10px 10px 0 0;
}

select:focus {
  outline: none;
  box-sizing: border-box;
}

select {
  width: 100vw;
  height: 3.1rem;
  background-color: var(--base-light);
  border: 0;
  border: 2px solid var(--base-dark);
  margin-top: .2rem;
  flex: .7;
}

.Section {
  flex: 1;
  width: 100%;
  position: relative;
  background-color: var(--base);
  min-height: 10rem;
  margin: 0;
  padding: 0 10px;
  padding-bottom: 0;
  border-radius: 0;
}

#PagesContainer .Section::after{
  content: '';
  height: 1px;
  width: 80vw;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 10vw;
}

.Section > label:nth-of-type(1), .ProjectHeader > label, #SectionLabel {
  color: var(--text_color_darker);
  filter: drop-shadow(0px 0px 7px var(--base-light));
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  border-radius: 0;
  margin: 12px;
  margin-bottom: 0;
}

.Section:has(.TodoContainer) {
  flex-wrap: nowrap;
}
.Section:has(.ProjectContainer) {
  flex: inherit;
  min-height: fit-content;
}

#Overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 101;
  position: absolute;
  background-color: rgba(40, 40, 40, .6);
  border-radius: 0;
  display: none;
}

#AppContainer[data-overlayActive="true"] #Overlay{
  display: block;
}

#BottomMenuBar {
  position: fixed;
  width: 80vw;
  height: 50px;
  bottom: 15px;
  left: 10vw;
  z-index: 100;
  background-color: var(--base);
  box-shadow: 0 0 12px var(--accent);
  align-content: space-around;
  justify-content: center;
  padding: 0 20px;
  border-radius: 25px;
}
.MainMenuItem{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
  height: 30px;
  width: 30px;
  right: 0;
  border-radius: 0%;
}
.MainMenuItem #Icon{
  color: var(--text_color_darker);
  font-size: 25px;
}
.MainMenuItem.active #Icon {
  color: var(--accent);
}

#TriangleButton {
  position: relative;
  aspect-ratio: 1 / 0.8666;
  width: 65px;
  background: none;
  transform-origin: 50% 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#Triangle, #Triangle::before, #Triangle::after{
  position: absolute;
  width: inherit;
  height: 6px;
  background-color: var(--accent);
  box-shadow: 0px 0px 15px 1px var(--accent);
  border-radius: 18px;
  rotate: 180deg;
}
#Triangle {top: -2px;}
#Triangle::before{
  content: "";
  rotate: 60.5deg;
  left: 46%;
  transform: translateX(-47%)
}
#Triangle::after{
  content: "";
  rotate: -60.5deg;
  right: 46%;
  transform: translateX(47%);
}
#Triangle + #Icon{
  position: absolute;
  top: 15%;
  transform: translateX(calc(81.5%));
  font-size: 25px;
  color: var(--text_color_darker);
}

.Header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
}
.Header label {
  width: fit-content;
  height: fit-content;
  border-radius: 0;
}
.Header button{
  padding-right: 10px;
  padding-left: 10px;
  height: 55px;
  width: 65px;
  border-radius: 50%;
}
.Header .button_secondary {
  width: fit-content;
  border: none;
  background: transparent;
  box-shadow: none;
  height: 60%;
  align-self: flex-end;
}
.Header #Icon {
  font-size: 1.6rem;
  rotate: 180deg;
}

.ListSelector {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 8px 30px;
  width: 100%;
}
.ListSelector li{
  font-size: 13px;
  font-family: Dosis;
  font-weight: 900;
  color: var(--text_color_darker);
  position: relative;
}
.ListSelector li.selected {
  color: var(--text_color);
}
.ListSelector li.selected::after{
  content:"";
  bottom: -3px;
  left: calc(50% - 4px);
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: var(--accent);
}

.seperator {
  height: 2px;
  width: 60vw;
  margin-top: 10px;
  background-color: var(--accent);
  align-self: center;
  box-shadow: none;
}
.seperator.small {
  width: 25vw;
}
.seperator.large {
  width: 80vw;
}

.hidden {
  display: none;
}

.left{
  align-self: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}

.stretch {
  flex-grow: 1;
  width: unset;
}

.grid{
  display: grid;
}
.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.text_base_darkest {
  color: var(--base-darkest);
  font-size: inherit;
}
.text_light {
  color: var(--text_color-light);
  font-size: inherit;
}
.text_accent {
  color: var(--accent);
  font-size: inherit;
}
.text_bold {
  font-family: defaultBold;
}

.bg_light {
  background-color: var(--text_color-light);
}

#Chip {
  height: fit-content;
  width: fit-content;
  min-width: max-content;
  align-content: center;
  background-color: var(--base-light);
  box-shadow: var(--base_shadow);
  padding: 7px;
  border-radius: 10px;
}
#Chip > label {
  font-size: 14px;
  font-family: defaultBold;
  color: inherit;
}
#Chip.active{
  background-color: var(--accent);
  color: var(--text_color-light);
}

.chip_wrapper {
  margin: 0 10px;
  padding: 0 10px;
  gap: 10px;
  overflow-y: auto;
  width: 100%;
}

#Icon{
  position: relative;
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  color: var(--text_color-light);
}

#Icon > path {
  color: inherit;
}

#LogoContainer {
  content: "";
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#LogoContainer::before{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent);
  filter: blur(5px);
}
#LogoContainer img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  z-index: 1;
}


#AppContainer:not([data-activePage="Todos"]) .show-in-todos {display: none;}
#AppContainer:not([data-activePage="Home"]) .show-in-home {display: none;}
#AppContainer[data-activePage="Home"] .show-not-in-home {display: none;}