@font-face {
  font-family: defaultFont;
  src: url("/public/font/QuattrocentoSans-Regular.ttf");
}
@font-face {
  font-family: defaultBold;
  src: url("/public/font/QuattrocentoSans-Bold.ttf");
}

* {
  margin: 0rem;
  padding: 0rem;
  font-size: 3.5vw;
  color: var(--text_color);
  box-sizing: border-box;
  border-radius: .5rem;
  font-family: defaultFont;
}

* {
  --text_color: rgb(50,50,50);
  --base_shadow: 0px .1rem .55rem .1rem var(--base-dark);

  --color_variation: 10%;

  --accent-h: 227;
  --accent-s: 53%;
  --accent-l: 41%;

  --base-l: 89%;
}

* {
  --text_color-light: var(--base);

  --accent-light-l: calc(var(--accent-l) + 5%);
  --accent-lightest-l: calc(var(--accent-l) + 15%);
  --accent-dark-l: calc(var(--accent-l) - var(--color_variation));

  --accent: hsl( var(--accent-h),
                  var(--accent-s),
                  var(--accent-l));

  --accent-dark: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-dark-l));

  --accent-light: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-light-l));

  --accent-lightest: hsl(var(--accent-h),
                      var(--accent-s),
                      var(--accent-lightest-l));

  --base-light-l: calc(var(--base-l) + 5%);
  --base-dark-l: calc(var(--base-l) - 5%);
  --base-darker-l: calc(var(--base-l) - 30%);
  --base-darkest-l: calc(var(--base-l) - 55%);

  --base: hsl(0, 0%, var(--base-l));
  --base-light: hsl(0, 0%, var(--base-light-l));
  --base-dark: hsl(0, 0%, var(--base-dark-l));
  --base-darker: hsl(0, 0%, var(--base-darker-l));
  --base-darkest: hsl(0, 0%, var(--base-darkest-l));

}

#root {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#AppContainer {
  max-height: 100vh;
}

#PagesContainer {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  height: calc(100% - 50px);
}

html, #root {
  padding: 0;
  margin: 0;
}

p, button, textarea, input, select, option, a {
  font-size: 1.15rem;
  padding: .2rem;
  resize: none;
}

div {
  display: flex;
  flex-flow: column wrap;
}

h1 {font-size: 3.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.1rem; font-weight: 100;}

label {font-size: 1.5rem;}

a{
  text-decoration: none;
}

button {
  background-color: var(--accent);
  color: var(--text_color-light);
  text-transform: capitalize;
  width: 10rem;
  height: 3.5rem;
  border: 0;
  box-shadow: var(--base_shadow);
  margin: .2rem;
}
button:disabled, button[disabled] {
  background-color: var(--accent-dark);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

button.small {
  width: 6rem;
  height: 3rem;
}
button.large {
  width: 13rem;
  height: 4.5rem;
}

.button_secondary {
  background-color: var(--base-light);
  border: 1px solid var(--accent);
  color: var(--accent);
  font-family: defaultBold;
}
button:disabled.button_secondary, button[disabled].button_secondary {
  text-decoration: line-through;
  background-color: var(--base-dark);
}

input, textarea {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: var(--base-light);
  padding: 0 .5rem;
  border-radius: 0;
  margin: .2rem 0;
}

textarea {
  max-height: 15vh;
  padding: .5rem;
}

textarea:focus, input:focus, option:focus {
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid var(--accent-light);
}

select:focus {
  outline: none;
  box-sizing: border-box;
}

select {
  width: 100vw;
  height: 3.1rem;
  background-color: var(--base-light);
  border: 0;
  border: 2px solid var(--base-dark);
  margin-top: .2rem;
  flex: .7;
}

.Section {
  flex: 1;
  position: relative;
  background-color: var(--base);
  min-height: 10rem;
  min-width: 100vw;
  margin: 0;
  padding: 1rem;
  border-radius: 0;
}

#PagesContainer .Section::after{
  content: '';
  height: 2px;
  width: 80vw;
  background-color: var(--accent-dark);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 10vw;
}

.Section > label:nth-of-type(1), .ProjectHeader > label {
  font-size: 1.7rem;
  font-family: defaultBold;
}

.Section:has(.TodoContainer) {
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
}
.Section:has(.TodoContainer) >label:nth-child(1){
  padding-bottom: .5rem;
}
.Section:has(.ProjectContainer) {
  flex: inherit;
  min-height: fit-content;
}

#Overlay {
  height: 100vh;
  width: 100vw;
  z-index: 110;
  position: fixed;
  background-color: rgba(40, 40, 40, .6);
  border-radius: 0;
  display: none;
}

#AppContainer[data-overlayActive="true"] #Overlay{
  display: block;
}

#MenuBar {
  position: fixed;
  width: 100%;
  height: 55px;
  bottom: 0;
  z-index: 100;
  background-color: var(--base);
  align-content: space-around;
  justify-content: center;
  padding: 0 35px;
}
#MenuBar::after {
  content: "";
  width: 100%;
  height: 2px;
  top: -2px;
  background-color: var(--base-dark);
  z-index: 1;
  align-self: center;
  position: absolute;
}
#MenuBar .MainMenuItem{
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--base);
  height: 50px;
  width: 50px;
  right: 0;
  border-radius: 50%;
}

#AppContainer[data-activePage="Settings"] #MenuBar .MainMenuItem:nth-of-type(1),
#AppContainer[data-activePage="Home"] #MenuBar .MainMenuItem:nth-of-type(2), 
#AppContainer[data-activePage="Todos"] #MenuBar .MainMenuItem:nth-of-type(3){
  background-color: var(--accent);
}

#AppContainer[data-activePage="Settings"] #MenuBar .MainMenuItem:nth-of-type(1) #Icon {color: var(--base);}
#AppContainer[data-activePage="Home"] #MenuBar .MainMenuItem:nth-of-type(2) #Icon {color: var(--base);}
#AppContainer[data-activePage="Todos"] #MenuBar .MainMenuItem:nth-of-type(3) #Icon {color: var(--base);}

.MainMenuItem #Icon{color: var(--base-darker);}

#SettingsIcon > path {
  color: inherit;
}
#SettingsIcon {
  position: absolute;
  font-size: 2.5rem;
  left: 4%;
  bottom: 20%;
  color: var(--base-darker);
}
#AppContainer[data-activePage="Settings"] #SettingsIcon{color: var(--accent);}

.Header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.Header label {
  width: fit-content;
  height: fit-content;
  border-bottom: 2px solid var(--accent);
  border-radius: 0;
}
.Header button{
  max-height: 35px;
}

.seperator {
  height: 2px;
  width: 60vw;
  margin: .5rem 0px;
  background-color: var(--accent);
  align-self: center;
}
.seperator.small {
  width: 25vw;
}
.seperator.large {
  width: 80vw;
}

.hidden {
  display: none;
}

.left{
  align-self: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}

.stretch {
  flex-grow: 1;
  width: unset;
}

.grid{
  display: grid;
}
.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.text_light {
  color: var(--text_color-light);
}
.text_accent {
  color: var(--accent);
  font-size: inherit;
}
.text_bold {
  font-family: defaultBold;
}

.bg_light {
  background-color: var(--text_color-light);
}

#Icon{
  position: relative;
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  color: var(--text_color-light);
}

#Icon > path {
  color: inherit;
}

#test{
  width: 50px;
  height: 50px;
  background-color: var(--accent-light);
}

#test::before{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 60px;
  border-radius: .5rem;
  background-color: var(--accent);
}
#test::after{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  /* left: 30px; */
  margin-left: 120px;
  border-radius: .5rem;
  background-color: var(--accent-dark);
}

#AppContainer:not([data-activePage="Todos"]) .show-in-todos {display: none;}