* {
    font-size: 17px;
}

.todoPageContainer {
    position: absolute;
    padding: 0;
    margin: 10px;
    height: calc(100% - 160px);
    width: calc(100% - 20px);
    top: 70px;
    border-radius: 30px;
    justify-content: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y:scroll;
} .todoPageContainer::-webkit-scrollbar{
    width: 5px;
    border-radius: 3px;
} .todoPageContainer::-webkit-scrollbar-track{
    background: var(--dark_blue);
    border-radius: 3px;
    margin-top: 200px;
    margin-bottom: 200px;
} .todoPageContainer::-webkit-scrollbar-thumb{
    background: var(--light_blue);
    border-radius: 3px;
    height: 60px;
}

.todoInput {
    position: absolute;
    margin: 0px;
    padding: 15px;
    width: calc(100% - 30px);
    height: 50px;
    border-radius: 30px 30px 0px 0px;
    bottom: 0px;
    background-color: whitesmoke;
    border: none;
} .todoInput:focus {
    outline: none;
}

.todoPostButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255);
    width: 70px;
    height: 70px;
    border-radius: 40px;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
} .todoPostIcon {
    color: var(--light_blue);
    position: absolute;
    height: 50px;
    width: 40px;
    rotate: 270deg;
}

.todoPageEmpty {
    position: absolute;
    padding: 0;
    margin: 10px;
    height: 150px;
    width: calc(100% - 20px);
    top: 100px;
    border-radius: 30px;
    background: rgba(255,255,255,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light_blue);
} .todoPageEmpty h1 {
    font-size: 25px;
} .todoPageEmpty.hidden {
    opacity: 0%;
} .todoPageEmpty.shown {
    opacity: 100%;
}

.sticky {
    width: 360px;
    height: 120px;
    position: fixed;
    bottom: 0;
}



.todoItemContainer{
    display: flex;
    height: 50px;
    width: calc(100% - 30px); 
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(255,255,255,.65);
    transition: 1s ease-in-out;
} .todoItemContainer div {
    height: 100%;
    display: flex;
    transition: 1s ease-in-out;
    align-items: center;
    justify-content: center;
} .todoItemContainer div:nth-child(1){
    min-width: 50px;
    border-right: 2px solid var(--light_blue);
    border-radius: 2px;
} .todoItemContainer div:nth-child(2){
    width: calc(100% - 50px);
    padding: 5px;
    margin: 0 0 0 0;
    padding-left: 10px;
    justify-content: left;
    overflow: hidden;
} 

.todocheckbox {
    position: absolute;
    color: var(--dark_blue);
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.taskActive {
    text-decoration: none;
} 
.taskFinished {
    text-decoration:line-through;
}