
#YourDaySection, #HvvSection {
    width: 100%;
}
#HvvSection {
    margin: 0 10px;
}

#WeatherSection {
    border-radius: 30px;
    height: 25vh;
    background: linear-gradient(45deg, var(--accent-dark) 0%, var(--accent-light) 80%);
    margin: 10px;
    padding: 20px;
    width: calc(100% - 20px);
    justify-content: space-between;
    align-items: center;
}
#WeatherSection label {
    color: var(--text_color-light);
    font-size: 2rem;
}
#WeatherSection .TextContainer {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
}

.TextContainer h3, .TextContainer h4{
    color: var(--base);
    text-align: center;
}
.TextContainer h3 {
    border-bottom: 2px solid var(--base-light);
    border-radius: 0;
    width: 70%;
}

#WeatherContainer{
    position: relative;
    background-color: var(--accent-light);
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 12px var(--accent-dark));
}
#WeatherContainer #Icon {
    fill: var(--base);
    font-size: 50px;
}
#TemperatureContainer {
    background-color: var(--base);
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#TemperatureContainer label{
    color: var(--accent);
    font-size: 22px;
    font-family: defaultBold;
}

#Connections_wrapper{
    width: 100%;
    overflow: scroll;
    gap: 10px;
}
#Connections_wrapper::-webkit-scrollbar {
    display: none;
}

#Connection {
    position: relative;
    height: 125px;
    min-width: 140px;
    border-radius: 25px;
    padding: 15px;
    background-color: var(--base-light);
    box-shadow: var(--base_shadow);
    overflow: hidden;
    z-index: 1;
    justify-content: space-between;
}
#Connection > * {
    z-index: 3;
    font-size: 18px;
}
#Connection label:nth-child(1) {
    font-weight: 700;
    color: var(--accent)
}
#Connection label:nth-child(2) {
    color: var(--base-light);
    place-self: flex-end;
    text-align: right;
}

#Connection #Decorator {
    position: absolute;
    background-color: var(--accent-light);
    height: 120px;
    width: 200px;
    z-index: 2;
    border-radius: 0;
    rotate: -45deg;
    /* left: -60px; */
    /* top: -40px; */
    bottom: -30%;
    right: -55%;
}