
#YourDaySection, #HvvSection {
    width: 100%;
}
#HvvSection {
    margin: 0 10px;
}

#WeatherSection {
    border-radius: 15px;
    height: 22vh;
    background: var(--accent-gradient);
    margin: 10px;
    padding: 20px;
    width: calc(100% - 20px);
    justify-content: space-between;
    align-items: center;
    
    /* box-shadow: 0 0 10px var(--accent) */
}
#WeatherSection label {
    color: var(--text_color-light);
    font-size: 1.8rem;
}
#WeatherSection .TextContainer {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 1px;
}

.TextContainer h3, .TextContainer h4{
    color: var(--base-dark);
    text-align: center;
    width: 90%;
}
.TextContainer h3 {
    color: var(--base);
    border-bottom: 2px solid var(--base-dark);
    border-radius: 0;
    width: 60%;
}

#WeatherContainer{
    position: relative;
    background-color: var(--accent);
    min-width: 85px;
    min-height: 85px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 12px var(--accent-dark));
}
#WeatherContainer #Icon {
    fill: var(--base-light);
    font-size: 45px;
}
#TemperatureContainer {
    background-color: var(--base);
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#HomeMainSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#HomeMainSection>div{
    padding: 10px;
    flex: 1;
}

#Connections_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 20px);
    flex: 1;
    gap: 20px;
}

#Connection {
    position: relative;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--base-light);
    box-shadow: 0 0 10px var(--base-darker);
    overflow: hidden;
    z-index: 1;
    align-items: flex-end;
    border: 1px solid transparent;
}
#Connection.active {
    box-shadow: 0 0 12px var(--accent);
    border: 1px solid var(--accent);
}
#Connection label {
    font-size: 13px;
    width: 100%;
    text-align: right;
    font-family: Dosis;
    font-weight: 900;
    padding: 0;
    color: var(--base-darker);
    letter-spacing: .5px;
    height: fit-content;
    align-self: flex-end;
}
#Connection.active label {
    color: var(--base);
    z-index: 1;
    position: relative;
}
#Connection:not(.active) label::after {
    content: "Placeholder";
    visibility: hidden;
}
#Connection.active label::after {
    content: "Selected"
}
#Connection h4 {
    color: var(--text_color);
    font-family: Dosis;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    width: 50%;
}
#Connection h4:nth-child(2) {
    text-align: right;
    color: var(--accent);
}
#Connection.active #Decorator {
    visibility: visible;
}

#YouSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 0;
    height: 80px;
}
#YouSection h2 {
    font-family: defaultBold;
    color: var(--base-darkest);
}
#YouSection h4 {
    color: var(--base-darker);
}

#Decorator {
    width: 70px;
    height: 200px;
    background-color: var(--accent);
    position: absolute;
    bottom: -110px;
    right: 10px;
    rotate: 76deg;
    visibility: hidden;
    box-shadow: 0 0 3px var(--base-darker);
    overflow: hidden;
}

