
#PagesContainer {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
  }

#Home_Page, #Todo_Page, #Settings_Page {
    max-width: 100vw;
    max-height: 100%;
    height: 99%;
    flex-direction: column;
    background-color: var(--base);
    border-radius: 0;
}

#AppContainer:not([data-activepage="Home"]) #PagesContainer #Home_Page {display: none;}
#AppContainer:not([data-activepage="Todos"]) #PagesContainer #Todo_Page {display: none;}
#AppContainer:not([data-activepage="Settings"]) #PagesContainer #Settings_Page {display: none;}

#Home_Page {
    max-width: 100vw;
    /* gap: 15px; */
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: nowrap;
}

#Settings_Page {
    flex-flow: column nowrap;
}

#Settings_Page .Section {
    flex: initial;
    min-height: initial;
    height: fit-content;
    padding-bottom: 0;
}