
.Section:has(.TodoContainer) > label::after{
    content:"";
    position: absolute;
    top: 3.3rem;
    left: 10%;
    /* background-color: var(--base-darker); */
    width: 80%;
    height: 2px;    
}

.TodoContainer {
    min-height: 70px;
    max-height: 90vh;
    overflow-y: scroll;
    flex-flow: column nowrap;
}

.Todo {
    width: calc(100% - 20px);
    height: 4.4rem;
    max-height: 60px;
    margin: .5rem 10px;
    border-radius: .75rem;
    background-color: var(--base-light);
    box-shadow: var(--base_shadow);
    padding-left: .5rem;
    align-content: flex-start;
}
.Todo > div:nth-child(2) {
    flex: 1;
    justify-content: center;
    max-width: 80%;
    margin-left: 10px;
}

.Todo > div label {
    font-family: defaultBold;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.Todo > div p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0;
}
.Todo > div p.hidden {
    display: none
}
.Todo > p {
    position: absolute;
    font-size: 1rem;
    right: 25%;
    color: var(--accent-light);
}

.Todo.finished {
    text-decoration: line-through;
}

#CheckBox {
    font-size: 22px;
    z-index: 1;
    fill: var(--text-color);
}

.CheckBoxContainer{
    position: relative;
    height: 100%;
    width: fit-content;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    border-right: red 1px solid;
    border-radius: 0;
    margin: 8px 0;
    padding: 0 12px 0 10px;
}

#AddTodoBtn #Icon {
    font-size: 35px;
}

#AddTodoBtn {
    position: fixed;
    bottom: 75px;
    left: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#DeleteAllBtn {
    height: 45px;
    width: 80%;
    border-radius: 5px;
    align-self: center;
    /* border: 1px solid var(--base-darker); */
    background-color: var(--base);
    box-shadow: none;
}