
* {
  font-size: 17px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(77, 77, 77);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text_color);
  padding: 0;
  margin: 0;
}
span {
  background-color: var(--lightest_gray);
}

button {
  background-color: var(--light_gray);
  border: none;
  color: var(--main_accent);
}

#superContainer {
  position: relative;
  width: 360px;
  height: 730px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: var(--secondary_background);
}

.relative {
  position: relative;
}