
.DevContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: var(--main_background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
} 

#superContainer:not([data-activepage="Dev"]) .DevContainer {
    display: none;
}

.DevContainer h1 {
    text-align: center;
}

.DevContainer span {
    height: 2px;
    width: calc(100% - 70px);
    border-radius: 4px;
    background-color: var(--secondary_background);
    margin: 15px 0px;
} 

.DevBtnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.DevBtnContainer button {
    width: 45vw;
    min-height: 50px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--secondary_background);
    color: var(--text_color);
    transition: .5s ease-in-out;
}

.DevBackendContainer {
    display: flex;
    flex-direction: row;
} 

.DevBackendContainer button {
    background-color: var(--secondary_background);
    color: var(--text_color);
    height: 35px;
    border-radius: 5px;
    /* font-size: 14px; */
    padding: 0px 15px;
}

.DevBackendContainer input {
    width: 65vw;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary_background);
    color: var(--text_color);
    box-shadow: 0px 1px 3px var(--dark_shadow);
    margin-right: 10px;
    padding: 10px;
    /* font-size: 14px; */
} .DevBackendContainer input:focus {
    outline: none;
} .DevBackendContainer input::placeholder{
    color: var(--text_color);
    opacity: .7;
}

.lastActionField {
    background-color: var(--secondary_background);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 00px;
}
.lastActionField p {
    color: var(--text_color);
    text-align: center;
    margin: 0;
    opacity: .7;
}
