
.defaultScheme {
    --text_color: var(--lightest_gray);

    --main_accent: var(--light_main);

    --light_main: #073F80;
    --dark_main: #1A2238;

    --light_second: #ff00d4;
    --dark_second: #5E3AC5;

    --lightest_gray: rgb(255,255,255);
    --light_gray: rgb(245, 245, 245);
    --gray: rgb(225, 225, 225);
    --dark_gray: rgb(180,180,180, .5);

    --main_background: linear-gradient(169.06deg, var(--dark_main) 26.78%, var(--dark_second) 132.23%);
    --gradient_second: linear-gradient(192.26deg, var(--dark_second) 8.42%, var(--light_main) 100%);
}

.testScheme {
    --text_color: var(--lightest_gray);

    --main_accent: var(--dark_second);

    --light_main: var(--dark_second);
    --dark_main: rgb(190,190,190);

    --dark_second: #ff7700;
    --light_second: #c5513a;

    --lightest_gray: rgb(255,255,255);
    --light_gray: rgb(245, 245, 245);
    --gray: rgb(225, 225, 225);

    --main_background: linear-gradient(169.06deg, rgb(180,180,180) 26.78%, rgb(220,220,220) 132.23%);
    --gradient_second: linear-gradient(192.26deg, var(--dark_second) 8.42%, var(--light_second) 100%);
}

.testScheme2 {
    --text_color: rgb(235, 244, 252);

    --main_accent: rgb(160, 35, 207);
    --secondary_accent: rgb(49, 107, 211);

    --lightest_gray: rgb(255,255,255);
    --light_gray: rgb(245, 245, 245);
    --gray: rgb(225, 225, 225);

    --dark_shadow: rgb(80,80,80);

    --main_background: rgb(52, 78, 161);
    /* --main_background: rgb(95, 100, 187); */
    --secondary_background: rgb(3, 25, 85);

}

.text_accent {
    color: var(--main_accent);
}

.text_inline {
    font-size: inherit;
    background: none;
    display: inline;
}

.bulb {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--gray);
    top: 27px;
    left: 15px;
    border-radius: 10px;
} .red {
    background-color: rgb(205, 28, 28);
} .green {
    background-color: rgb(21, 225, 48);
}

.imageContainer {
    border: 3px solid var(--main_accent);
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: 20px 0px;
}

.midIcon {
    aspect-ratio: 1/1;
    width: 90px;
    height: 90px;
    margin: 0px 0px 0px 0px;
}

.PageWrapper {
    z-index: 0;
    position: fixed;
    max-width: 360px;
    height: calc(100%);
    width: 360px;
    overflow: hidden;
    transition: .2s ease-in-out;
}

#superContainer:not([data-menuopen="true"]) > .PageWrapper{
    margin-left: calc(70%);;
    border-radius: 40px;
    scale: .95;
}

#PageOverlay {
    background-color: black;
    height: calc(100%);
    width: calc(100%);
    transition: .5s ease-in-out;
    display: none;
    opacity: 0%;
    margin-left: calc(70%);
    border-radius: 40px 40px 40px 40px;
    scale: .95;
}

#superContainer:not([data-menuopen="true"]) > #PageOverlay {
    z-index: 5;
    display: block;
}

.deactivated {
    transform: translateX(400px);
}
.active{
    transform: translateX(0px);
}