
#page-center-vertical {
    width: 1px;
    background-color: red;
    height: 100%;
    z-index: 2000;
    position: absolute;
    margin: 0% 50%;
}
#page-center-horizontal {
    height: 1px;
    background-color:tomato;
    width: 100%;
    z-index: 2000;
    position: absolute;
    top: 50%;
}


@font-face {
    font-family: defaultFont;
    src: url("font/Creative-Thinking.ttf");
}

@font-face {
    font-family: heading;
    src: url("font/Track-Regular.ttf");
}

@font-face {
    font-family: pixel;
    src: url("font/Pixer-Regular.ttf");
}

.font-normal{font-family:defaultFont;}
.font-normalBold{font-family:defaultFontBold; letter-spacing: .07rem;}

.font-heading{font-family: heading;}
.font-section{font-family: defaultFont;}
.font-pixel{font-family: pixel;}

* {
    --color_variation: 15%;

    --main_accent-light-l: calc(var(--main_accent-l) + var(--color_variation));
    --main_accent-dark-l: calc(var(--main_accent-l) - var(--color_variation));

    --main_accent: hsl( var(--main_accent-h),
                        var(--main_accent-s),
                        var(--main_accent-l));

    --main_accent-dark: hsl(var(--main_accent-h),
                            var(--main_accent-s),
                            var(--main_accent-dark-l));

    --main_accent-light: hsl(var(--main_accent-h),
                            var(--main_accent-s),
                            var(--main_accent-light-l));
}


.DefaultLight {
    --main_accent-h: 284;
    --main_accent-s: 71%;
    --main_accent-l: 47%;

    --text_color: rgb(40, 40, 40);
    --dark_shadow: rgb(44, 44, 44);

    --secondary_background: rgb(230, 230, 230);
    --main_background: rgb(200, 200, 200);
}

.DefaultDark {
    /* --main_accent: #e4640f; */
    --main_accent-h: 284;
    --main_accent-s: 71%;
    --main_accent-l: 47%;

    --text_color: #eeeeee;
    --dark_shadow: rgb(120,120,120);

    --main_background: #393e46;
    --secondary_background: #222831;   
}

.CopperDark {
    /* --main_accent: #e4640f; */
    --main_accent-h: 24;
    --main_accent-s: 88%;
    --main_accent-l: 48%;

    --text_color: #eeeeee;
    --dark_shadow: rgb(120,120,120);

    --main_background: #393e46;
    --secondary_background: #222831;   
}

.CopperLight {
    /* --main_accent: #e4640f; */
    --main_accent-h: 24;
    --main_accent-s: 88%;
    --main_accent-l: 48%;

    --text_color: rgb(40,40,40);
    --dark_shadow: rgb(44, 44, 44);

    --secondary_background: rgb(230, 230, 230);
    --main_background: rgb(200, 200, 200);
}

.RottenCopperDark {
    /* --main_accent: #1d977d; */
    --main_accent-h: 167;
    --main_accent-s: 68%;
    --main_accent-l: 35%;

    --text_color: #eeeeee;
    --dark_shadow: rgb(120,120,120);

    --main_background: #393e46;
    --secondary_background: #222831;   
}

.RottenCopperLight {
    /* --main_accent: #1d977d; */
    --main_accent-h: 167;
    --main_accent-s: 68%;
    --main_accent-l: 35%;

    --text_color: rgb(40,40,40);
    --dark_shadow: rgb(44, 44, 44);

    --secondary_background: rgb(230, 230, 230);
    --main_background: rgb(200, 200, 200); 
}

.OldBase {
    /* ? Just here for the memories */
    --text_color: rgb(235, 244, 252);

    /* --main_accent: rgb(160, 35, 207); */
    --main_accent-h: 284;
    --main_accent-s: 71%;
    --main_accent-l: 47%;

    --dark_shadow: rgb(130,130,130);

    --main_background: rgb(42, 62, 131);
    --secondary_background: rgb(4, 3, 70);
}

.Sunrise {
    /* ! This is a concept */
    --text_color: #eef2e6;

    /* --main_accent: #ff4701; */
    --main_accent-h: 17;
    --main_accent-s: 100%;
    --main_accent-l: 50%;

    --dark_shadow: rgb(80,80,80);

    /* ? Interesting Todo page due to the swapped colors here */
    --main_background: #1d4851;
    --secondary_background: #ff9001;   
}

.Birch {
    /* ! Experimental concept theme */
    --text_color: #eef2e6;

    /* --main_accent: #fdd584; */
    --main_accent-h: 33;
    --main_accent-s: 97%;
    --main_accent-l: 80%;

    --dark_shadow: rgb(150,150,150);

    --main_background: #6f8c64;
    --secondary_background: #2a4731;   
}

.svg {
    height: inherit;
}

.text_accent {
    font-size: inherit;
    color: var(--main_accent);
}

.text_inline {
    background: none;
    display: inline;
}

#ServerBulb {
    width: 12px;
    height: 12px;
    background-color: rgb(205,28,28);
    border-radius: 10px;
    margin: 10px;
}
#superContainer[data-serverreachable="true"] #ServerBulb {
    background-color: rgb(21, 225, 48);
}

.imageContainer {
    border: 3px solid var(--main_accent);
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: 20px 0px;
    box-shadow: 0px 0px 20px 2px var(--main_accent);
}

.midImage {
    aspect-ratio: 1/1;
    width: 90px;
    height: 90px;
    margin: 0px 0px 0px 0px;
}

.PageWrapper {
    z-index: 0;
    position: fixed;
    max-width: 360px;
    height: calc(100%);
    width: 360px;
    overflow: hidden;
    transition: .2s ease-in-out;
}

#superContainer:not([data-menuopen="true"]) > .PageWrapper{
    margin-left: calc(70%);;
    border-radius: 40px;
    scale: .95;
}

#PageOverlay {
    background-color: black;
    height: calc(100%);
    width: calc(100%);
    transition: .5s ease-in-out;
    display: none;
    opacity: 0%;
    margin-left: calc(70%);
    border-radius: 40px 40px 40px 40px;
    scale: .95;
}

#superContainer:not([data-menuopen="true"]) > #PageOverlay {
    z-index: 5;
    display: block;
}

.deactivated {
    transform: translateX(400px);
}
.active{
    transform: translateX(0px);
}

.triangle {
    position: relative;
    aspect-ratio: 1 / 0.8666;
    width: 80px;
    background: none;
    transform-origin: 50% 50%;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.triangle span{
    position: absolute;
    width: inherit;
    height: 6px;
    background-color: var(--main_accent);
    box-shadow: 0px 0px 20px 2px var(--main_accent);
    border-radius: 18px;
    rotate: 180deg;
}

.triangle span:nth-child(1){
    top: 0px;
}
.triangle span:nth-child(2){
    left: 23.5%;
    top: calc(50% - 2px);
    rotate: -60deg;
}
.triangle span:nth-child(3){
    right: 23.5%;
    top: calc(50% - 2px);
    rotate: 60deg;
}

.overlay {
    background-color: rgb(50,50,50, .75);
    position: absolute;
    top: 0;
    width: calc(100%);
    height: calc(100%);
    display: none;
    z-index: 110;
}
#superContainer:not([data-overlayActive="false"]) .overlay {
    display: block;
}

#TestingPage {
    background-color: var(--main_background);
    height: 100%;
    width: 100%;;
}

#ColorContainer {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#ColorContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border: 2px solid black;
}