

.HistoryContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--dark_gray);
    height: calc(100% - 100px);
    width: calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    bottom: 0px;
    border-radius: 10px;
    overflow-y: scroll;
}.HistoryContainer::-webkit-scrollbar{
    width: 5px;
    border-radius: 3px;
} .HistoryContainer::-webkit-scrollbar-track{
    background: var(--dark_main);
    border-radius: 3px;
    margin-top: 200px;
    margin-bottom: 200px;
} .HistoryContainer::-webkit-scrollbar-thumb{
    background: var(--light_main);
    border-radius: 3px;
    height: 60px;
}

.historyItemClient, .historyItemServer {
    height: fit-content;
    max-width: 70%;
    margin: 5px;
    padding: 5px;
    background: var(--gray);
}.historyItemClient p, .historyItemServer p{
    color: var(--main_accent);
    text-align: center;
    margin: 10px 0px;
}

.historyItemClient {
    border-radius: 20px 20px 20px 5px;
} /*! :has only visible in chrome. Works in app */
.historyItemClient + .historyItemClient{
    border-radius: 5px 20px 20px 20px;
    margin-top: 1px;
} .historyItemClient:has(+ .historyItemClient){
    margin-bottom: 1px;
} .historyItemClient + .historyItemClient:has(+ .historyItemClient){
    border-radius: 5px 20px 20px 5px;
}

.historyItemServer {
    border-radius: 20px 20px 5px 20px;
    margin-left: calc(30% - 15px);
} /*! :has only visible in chrome. Works in app */
.historyItemServer + .historyItemServer{
    border-radius: 20px 5px 20px 20px;
    margin-top: 1px;
} .historyItemServer:has(+ .historyItemServer) {
    margin-bottom: 1px;
} .historyItemServer + .historyItemServer:has(+ .historyItemServer){
    border-radius: 20px 5px 5px 20px;
}

.historyItemServer.fromDev p{
    border-right: 1px solid red;
}.historyItemClient.fromDev p{
    border-left: 1px solid red;
}