
.HomeContainer {
    position: absolute;
    width: 100%;
    height: calc(100%);
    background-color: var(--main_background);
    bottom: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#superContainer:not([data-activepage="Home"]) .HomeContainer {
    display: none;
}

#HomeSection{
    height: 30vh;
}