
.navbarContainer {
    position: fixed;
    height: 70px;
    width: 360px;
    top: 0;
    justify-content: center;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} .navbarContainer h2{
    /* font-size: 22px; */
    transition: .5s;
}

.openMenu_BTN, .reload_BTN{
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

} .openMenu_BTN:hover{
    animation: menu-open_BTN .7s ease-in-out forwards;
} .openMenu_BTN span {
    background-color: var(--text_color);
    position: absolute;
    height: 2.1px;
    width: 30px;
    border-radius: 4px;
    transition: 
        all .7s,
        background-color .5s ease-in-out
    ;
} .openMenu_BTN span:nth-child(1) {
    transform: translateY(-9px);   
} .openMenu_BTN span:nth-child(2) {
    transform: translateY(9px);
}

#superContainer:not([data-menuopen="true"])  .openMenu_BTN span:nth-child(1){
    transform: rotate(45deg);
}
#superContainer:not([data-menuopen="true"])  .openMenu_BTN span:nth-child(2){
    transform: rotate(315deg);
}
#superContainer:not([data-menuopen="true"])  .openMenu_BTN span:nth-child(3){
    width: 0px;
}