
.sideMenuContainer {
    position: absolute;
    height: calc(100%);
    width: calc(70%);
    z-index: 0;
    transition: .3s ease-in-out;
    display: grid;
    grid-template-rows: 1fr 1fr;
} 

.sideMenuContainer li {
    color: var(--lightest_gray);
    cursor: pointer;
    /* font-size: 22px; */
    font-weight: 500;
    padding: 5px;
    transition: .6s ease-in-out;
    display: flex;
    align-items: center;
} 
.sideMenuContainer ul {
    display: flex;
    align-items: left;
    justify-content: top;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
    margin: 0;
    padding: 20px;
} 

.sideButtonContainer{
    width: 100%;
    display: flex;
}
.sideButtonContainer button h2 {
    color: var(--secondary_background);
    text-shadow: none;
} 
.sideButtonContainer button {
    height: 45px;
    flex-grow: 1;
    bottom: 0px;
    margin: calc(4%);
    transition: .5s ease-in-out;
    padding: 7px;
    background-color: var(--text_color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideButtonContainer button:nth-child(1){
    flex-grow: 4;
    margin-right: 0px;
}

#settingsIcon{
    font-size: 1.2rem;
    margin-right: 3px;
    color: var(--secondary_background);
}

.sideButtonContainer button:nth-child(2){
    max-width: 45px;
    max-height: 45px;
}

#historyIcon{
    font-size: 29px;
    color: var(--secondary_background);
}

.chartContainer {
    background-color: var(--main_background);
    opacity: 70%;
    border-radius: 20px;
    height: 20vh;
    width: calc(90%);
    align-self: center;
    justify-self: center;
    margin: 20px;
}

.selfSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 50px;
    padding: 20px;
}

.selfSection h1 {
    height: fit-content;
    /* font-size: 30px; */
    padding-left: 5px;
    font-weight: 400;
}