

.sideMenuContainer {
    position: absolute;
    top: calc(25%);
    height: calc(60%);
    width: calc(40%);
} .sideMenuContainer li {
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    padding: 7px;
    transition: .6s ease-in-out;
} .sideMenuContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.closed li:nth-child(1){
    transform: translateX(-200px);
} .closed li:nth-child(2){
    transform: translateX(-300px);
} .closed li:nth-child(3){
    transform: translateX(-400px);
}

.active {
    font-size: 25px;
    font-weight: 600;
    color: red;
}