
#todoItemSeperator {
    min-width: 1.5px;
    height: 40px;
    background-color: var(--main_accent);
    margin: 5px;
}

.todoPageContainer{
    height: 100%;
    width: 100%;
    background-color: var(--main_background);
    padding-top: 60px;
}

#superContainer:not([data-activepage="Todo"]) .todoPageContainer {
    display: none;
}

.todoContainer {
    display: block;
    padding: 0;
    margin: 2.5%;
    height: fit-content;
    width: 95%;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    flex-direction: column;
}

#todoMainSection{
    height: calc(100% - 120px);
    overflow-y: scroll;
}

#todoMainSection::-webkit-scrollbar{
    width: 5px;
    border-radius: 3px;
} #todoMainSection::-webkit-scrollbar-track{
    background: var(--secondary_background);
    border-radius: 3px;
    margin: 30vh 0px;
} #todoMainSection::-webkit-scrollbar-thumb{
    background: var(--main_accent);
    border-radius: 3px;
    height: 60px;
}

#superContainer[data-activePage="Home"] .todoItemContainer:nth-child(n+5) {
    display: none;
}

.todoPostButton{
    aspect-ratio: 1 / 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text_color);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    bottom: 1.25vh;
    right: 2.5vw;
    cursor: pointer;
} .todoPostIcon {
    color: var(--main_background);
    position: absolute;
    height: 50px;
    width: 40px;
    rotate: 270deg;
}

.todoPageEmpty {
    position: relative;
    padding: 0;
    aspect-ratio: 1 / 1;
    width: 70%;
    margin-top: 7.5%;
    border-radius: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary_background);
}
.todoPageEmpty.hidden {
    transition: opacity .5s ease-in-out;
    display: none;
    opacity: 0%;}
.todoPageEmpty.shown {
    opacity: 80%;
}

.todoPageEmpty h2 {
    color: var(--text_color);
}

#superContainer[data-activePage="Todo"] .todoPageEmpty h2 {display: none;}

#superContainer[data-activePage="Home"] .todoPageEmpty {background: none; margin: 0}
#superContainer[data-activePage="Home"] .todoPageEmpty #allDoneSvg {
    display: none;
}

#allDoneSvg{
    aspect-ratio: 1/1;
    height: 100%;
    margin: 10px;
}
#colorMainAccent{
    fill: var(--main_accent);
}

.sticky {
    width: 360px;
    z-index: 50;
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.todoItemContainer{
    position: relative;
    display: flex;
    min-height: 60px;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    align-self: stretch;
    background-color: var(--secondary_background);
    transition: 
        all .5s,
        transform 1s,
        translateY 1s,
        translateX .5s,
        opacity .5s,
        scale .25s,
        background-color 0s 
        ease-in-out;
} .todoItemContainer h4 {
    grid-area: Title;
    color: var(--text_color);
    width: 100%;
    text-transform: capitalize;
    font-size: defaultFontBold;
} 

.todoItemContainer p {
    grid-area: Desc;
    margin: 0px 5px 5px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    align-self: flex-start
}

.todoItemTextContainer {
    margin: 5px;
    margin-top: 10px;
    width: stretch;
}

.todoItemContainer div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} .todoItemContainer div:nth-child(3){
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
        "Title Project"
        "Desc Desc";
} 

.checkBox {
    max-width: 22px;
    max-height: 22px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid var(--main_accent);
    padding: 0px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finished {
    background-color: var(--main_accent);
    color: var(--text_color);
}

.icon.notFinished{
    opacity: 0%;
}

.icon {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
}

.taskActive { text-decoration: none var(--text_color); }


.taskFinished { 
    text-decoration:line-through var(--text_color);
    transform: translateY(0px);
}

.todoButton {
    position: fixed;
    z-index: 120;
    box-sizing: border-box;
    transition: .75s ease-in-out;
    background: none;
    display: flex;
    justify-content: center;
    bottom: 15px;
    left: calc(50% - 40px);
}

#superContainer:not([data-overlayActive="false"]) .todoButton {
    rotate: 240deg;
    bottom: 78%;
    left: calc(52.5% - 40px);
}

.todoButtonBar {
    position: absolute;
    width: calc(80%);
    height: calc(45%);
    bottom: 30%;
    background-color: var(--secondary_background);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .75s;
}

.todoButtonBar h3 {min-width: 40%; text-align: center;}

#superContainer:not([data-overlayActive="false"]) .todoButtonBar {
    opacity: 0%;
}

#addTodoIcon {
    position: absolute;
    top: calc(15%);
    font-size: 30px;
    color: var(--text_color);
    display: block;
    transition: .75 ease-in-out;
    rotate: 0deg;
}

#superContainer:not([data-overlayActive="false"]) #addTodoIcon {
    rotate: -105deg;
}

.createTodoFormContainer {
    position: absolute;
    z-index: 115;
    height: 80vh;
    width: 80%;
    bottom: 30px;
    left: 10%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: height 0s;
}

#superContainer:not([data-overlayActive="true"]) .createTodoFormContainer {
    height: 0%;}

.createTodoForm {
    opacity: 1;
    height: inherit;
    width: 100%;
    background-color: var(--secondary_background);
    border-radius: 40px;
    transition: all .75s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#superContainer:not([data-overlayActive="true"]) .createTodoForm {
    height: 0%;
    border-radius: 0;
    padding: 0px;
}

.createTodoFormHeading{
    display: flex;
    justify-content: space-around;
}

.createTodoForm form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.createTodoForm input, .createTodoForm textarea{
    margin: 0px;
    padding: 5px;
    width: calc(100%);
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--dark_shadow);
    background: none;
    color: var(--text_color);
    transition: .4s;
} 

.createTodoForm textarea{
    resize: none;
    height: 120px;
    border: 1px solid var(--dark_shadow);
    border-radius: 5px;
    
}

.createTodoForm input:focus, .createTodoForm textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--main_accent);
} .createTodoForm input::placeholder, .createTodoForm textarea::placeholder{
    color: var(--dark_shadow);
}

#superContainer:not([data-overlayActive="false"]) .createTodoForm form {
    animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
    0%{opacity: 0}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#superContainer:not([data-overlayActive="true"]) .createTodoForm form {
    animation: fade-out .25s ease-in-out forwards;}
@keyframes fade-out {
    0%{opacity: 1;}
    100%{opacity: 0;}   
}

.createTodoBtnContainer {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
}

.createTodoBtnContainer button{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: none;
    border: 2px solid var(--dark_shadow);
    color: var(--dark_shadow);
}

.createTodoBtnContainer button:nth-child(2) {
    border: 2px solid var(--main_accent);
    box-shadow: 0px 0px 10px 1px var(--main_accent);
    color: var(--main_accent);
}
#superContainer:not([data-overlayActive="false"]) .createTodoBtnContainer {
    animation: fade-in 1.5s ease-in-out forwards;
}

#superContainer:not([data-overlayActive="true"]) .createTodoBtnContainer {
    animation: fade-out .25s ease-in-out forwards;}

.projectContainer {
    width: 95%;
    min-height: 90px;
    position: relative;
    margin: 2.5%;
    display: flex;
    flex: none;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

#superContainer[data-activePage="Home"] .projectContainer {
    height: fit-content;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
    row-gap: 10px;
}

.projectContainer::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    border-radius: 3px;
} .projectContainer::-webkit-scrollbar-track{
    background: var(--secondary_background);
    border-radius: 3px;
    margin: 0px 20vw;
} .projectContainer::-webkit-scrollbar-thumb{
    background: var(--main_accent);
    border-radius: 3px;
}

.projectCard {
    position: relative;
    overflow: hidden;
    flex: none;
    height: 90px;
    width: calc(45vw);
    border-radius: 20px;
    background-color: var(--secondary_background);
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: 60% 10% 20%;
    column-gap: 10px;
    row-gap: 5px;
    scroll-snap-align: start;
    align-items: center;
}

.projectCard h2 {
    color: var(--main_accent);
    z-index: 1;
    align-self: center;
    margin-bottom: 20px;
}

.projectCard h3 {
    z-index: 1;
    margin-bottom: 20px;
}

.projectCard p {
    text-align: left;
    z-index: 1;
    align-self: center;
}

#superContainer[data-activePage="Home"] .projectCard {
    height: 100%;
}

#superContainer[data-activePage="Home"] .projectCard:nth-child(n+5) {
    display: none;
}

#projectCardDecorator {
    position: absolute;
    height: 50px;
    width: 220px;
    rotate: 45deg;
    background-color: var(--main_accent);
    z-index: 0;
    opacity: 1;
    filter: blur(.5px);
    left: 40px;
    top: 0px;
}

#superContainer[data-activePage="Todo"] #projectCardDecorator {
    left: 70px;
    top: 15px;
    rotate: 40deg;
}

#projectProgressBar{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(100, 100, 100);
    align-self: center;
}

#projectProgressBarFill{
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: var(--main_accent);
}

#SectionSeperator {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 37px;
    width: 95%;
    margin: 0px 2.5%;
    color: var(--text_color);
    background-color: var(--main_background);
    z-index: 2;
    padding: 5px;
    display:flex;
}

#SectionSeperator:nth-of-type(3){
    top: 37px;
}

#SectionSeperator label{
    margin: 7px 0px;
    font-size: 1.2rem;
}

#SectionSpan {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--text_color);
    opacity: .3;
}