* {
    font-size: 17px;
}

.todoPageContainer {
    position: absolute;
    padding: 0;
    margin: 10px;
    height: calc(100% - 160px);
    width: calc(100% - 20px);
    top: 70px;
    border-radius: 0px;
    justify-content: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y:scroll;
} .todoPageContainer::-webkit-scrollbar{
    width: 5px;
    border-radius: 3px;
} .todoPageContainer::-webkit-scrollbar-track{
    background: var(--dark_main);
    border-radius: 3px;
    margin-top: 200px;
    margin-bottom: 200px;
} .todoPageContainer::-webkit-scrollbar-thumb{
    background: var(--light_main);
    border-radius: 3px;
    height: 60px;
}

.todoInput {
    position: absolute;
    margin: 0px;
    padding: 15px;
    width: calc(100% - 30px);
    height: 50px;
    border-radius: 30px 30px 0px 0px;
    bottom: 0px;
    background-color: var(--light_gray);
    border: none;
} .todoInput:focus {
    outline: none;
}

.todoPostButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightest_gray);
    width: 70px;
    height: 70px;
    border-radius: 40px;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
} .todoPostIcon {
    color: var(--main_accent);
    position: absolute;
    height: 50px;
    width: 40px;
    rotate: 270deg;
}

.todoPageEmpty {
    position: absolute;
    padding: 0;
    margin: 10px;
    height: 150px;
    width: calc(100% - 20px);
    top: 100px;
    border-radius: 30px;
    background: var(--light_gray);
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light_main);
} .todoPageEmpty h1 {
    font-size: 25px;
    color: var(--main_accent);}
.todoPageEmpty.hidden {
    opacity: 0%;}
.todoPageEmpty.shown {
    opacity: 100%;}

.sticky {
    width: 360px;
    height: fit-content;
    position: fixed;
    bottom: 0;
}


.todoItemContainer{
    display: flex;
    height: 50px;
    width: calc(100% - 30px); 
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    background-color: var(--gray);
    animation: init_todo_anim .4s ease-in-out;
    transition: 
        all .5s,
        transform 1s,
        translateY 1s,
        translateX .5s,
        scale .25s
        ease-in-out;
} .todoItemContainer p {
    color: var(--main_accent);
} /* .todoItemContainer:hover {
    scale: 1.05;
} */ .todoItemContainer div {
    height: 100%;
    display: flex;
    transition: 1s ease-in-out;
    align-items: center;
    justify-content: center;
} .todoItemContainer div:nth-child(1){
    width: 40px;
    height: 40px;
    background-color: var(--lightest_gray);
    border-radius: 25px;
    margin: 5px;
    transition: rotate .25s ease-in-out;
} .todoItemContainer div:nth-child(1):hover{
    cursor: pointer;
} /* .todoItemContainer div .todocheckbox:hover {
    rotate: 45deg;
} */ .todoItemContainer div:nth-child(2){
    width: calc(100% - 50px);
    border-left: 2px solid var(--main_accent);
    border-radius: 2px;
    margin: 0 0 0 0;
    max-height: 50px;
    padding-left: 10px;
    justify-content: left;
    overflow: hidden;
} 

@keyframes init_todo_anim {
    0%{transform: translateY(1000px);}
} 
@keyframes todo_slideOut_anim {
    0%{}
}

.todocheckbox, .todocheckbox_finished {
    position: absolute;
    color: var(--main_accent);
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.todocheckbox_finished {
    animation: todoIcon_finish_anim .25s ease-in-out;
}

@keyframes todoIcon_finish_anim {
    0% {
        rotate: 270deg;}
    100% {
        rotate: 0;}
}
.taskActive { text-decoration: none; } 
.taskFinished { 
    text-decoration:line-through;
    opacity: 0;
}