

.navbarContainer {
    position: fixed;
    height: 70px;
    width: 360px;
    top: 0;
    justify-content: center;
    color: white;
} .navbarContainer h3{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 20px;
    margin: 0;
}

.openMenu_BTN, .reload_BTN{
    top: 10px;
    left: calc(100% - 70px);
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

} .openMenu_BTN:hover{
    animation: menu-open_BTN .7s ease-in-out forwards;
} .openMenu_BTN span {
    position: absolute;
    height: 2.1px;
    width: 30px;
    border-radius: 4px;
    background-color: white;
    transition: .7s ease-in-out;
} .openMenu_BTN span:nth-child(1) {
    transform: translateY(-9px);   
} .openMenu_BTN span:nth-child(2) {
    transform: translateY(9px);
}
.active span:nth-child(1){
    transform: rotate(45deg);
} .active span:nth-child(2){
    transform: rotate(315deg);
} .active span:nth-child(3){
    /* transform: translateX(90px); */
    width: 0px;
}

.reload_BTN {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    top: 15px;
    left: calc(100% - 120px);
} .reload_BTN.shown {
    opacity: 100%;
} .reload_BTN.hidden {
    opacity: 0%;
}